.quiz {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(144, 137, 238), rgb(195, 200, 224));
    box-shadow: rgb(112, 110, 110) 1px 1px 1px;
}

.step {
    background-color: rgb(216, 218, 238);
    padding: 1vh;
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skor {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 214, 198);
    padding: 1vh;
    width: 5vw;
    height: 5vw;
    box-shadow: rgb(97, 93, 93) 1px 1px;
}

div.quiz>* {
    margin: 5vw;
}